
body {
  font-family: 'Noto Sans' , 'Roboto' , sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  color: #000000;
  margin: 0;
}
// .no-scroll{
//   overflow: hidden;
// }
.list {
  list-style: none;
  
}
.link {
  text-decoration: none;
  color: inherit;
}

btn{
  cursor: pointer;
}


