:root {
  --green: #54A757;
  --yellow: #FFC65D;
  --blue-color: #29AAE3;
  --light-gray: #F9F9F9;
  --purple: #9033F9;
  --pink: #FF5966;
  --black: #080702;
  --hover-green-btn: #4FA252;
  --hover-blue-btn: #269ACD;
  --hover-purple-btn: #842EE7;
  --hover-pink-btn: #EB5560;
  --title-color: #000000;
}